* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

nav > h3 {
  margin-right: auto;
  color: #61dafb;
  font-size: 22px;
}

nav > h4 {
  color: #ffffff;
  font-weight: 600;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}

main {
  background: #282d35 url('./assets/react2.svg') no-repeat 148% 55%;
  background-size: 300px;
  flex-grow: 1;
  padding: 57px 27px;
  color: white;
}

.title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.fact-list {
  margin-top: 46px;
  max-width: 450px;
  font-size: 17px;
}

.fact-list > li {
  line-height: 19px;
  padding-block: 10px;
}

.fact-list > li::marker {
  color: #61dafb;
  font-size: 30px;
}
